/* Estilos generales */
body {
    background-color: #f0f4f8; 
    font-family: Arial, sans-serif;
}

/* Estilos del contenedor */
.container {
/*    background-color: #212529; 
    color: #333; */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: auto;
}

/* Títulos */
h1, h2 {
    color: #007BFF; 
    margin-bottom: 20px;
}

/* Enlaces */
a {
    color: #007BFF; 
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Lista de correos y redes sociales */
ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    margin-bottom: 10px;
}

/* Estilo del botón de envío */
button {
    background-color: #007BFF; 
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3; 
}

/* Estilos del footer */
footer {
    margin-top: 40px;
    text-align: center;
/*    background-color: #333; */ 
    color: white;
    padding: 10px;
    border-radius: 5px;
}

/* Añadir estilos adicionales si es necesario */
.info-section {
padding: 40px 0;
}

.video-container {
position: relative;
padding-bottom: 150.25%; /* Mantiene la proporción de 16:9 */
height: 0;
overflow: hidden;
}

.video-container iframe {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}
