{% extends 'base.html' %}
{% load static %}

{% block titulo %}Acerca de:{% endblock %}

{% block contenido %}
<link href="{% static 'css/about.css' %}" rel="stylesheet">

<div class="container a">
    <h2>Información del desarrollo</h2>
    
    <h3>Diseñadores FrontEnd:</h3>
    <ul class="designer-list">
        <li>
            Lucila Morano <img class="a" src="">
        </li>
        <li>
            Delfina Zapata <img class="a" src="">
        </li>
        <li>
            Delfina Morano <img class="a" src="">
        </li>
        <li>
            Fabrizio Arnoletto <img class="a" src="">
        </li>
        <li>
            Tiago Gaitan <img class="a" src="">
        </li>
        <li>
            Sofía Lopez <img class="a" src="">
        </li>
        <li>
            Camila Irusta <img class="a" src="">
        </li>
        <li>
            Catia Sejas <img class="a" src="">
        </li>
        <li>
            Sasha Aliendro <img class="a" src="">
        </li>
        <li>
            Mora Raab <img class="a" src="">
        </li>
    </ul>

    <h3>Diseñadores BackEnd:</h3>
    <ul class="designer-list">
        <li>
            Tomás Centurión
        </li>
        <li>
            Agustín Bustos <img class="a" src="">
        </li>
        <li>
            Fabrizio Arnoletto <img class="a" src="">
        </li>
        <li>
            Tomás Prax <img class="a" src="">
        </li>
        <li>
            Benjamín Nievas <img class="a" src="">
        </li>
        <li>
            Florencia Ripanti <img class="a" src="">
        </li>
    </ul>
</div>

<br>
{% endblock %}