{% extends 'base.html' %}
{% load static %}

{% block titulo %}Acerca de:{% endblock %}

{% block contenido %}
<link href="{% static 'css/img-1x1.css' %}" rel="stylesheet">

<h2>Información del desarrollo</h2>
<p>Diseñadores FrontEnd:</p>
<ul>
    <li>
        Diseñador 1 <img class="a" src="">
    </li>
    <li>
        Diseñador 2 <img class="a" src="">
    </li>
</ul>

<p>Diseñadores BackEnd:</p>
<ul>
    <li>
        Programador
    </li>
    <li>
        Programador 2 <img class="a" src="">
    </li>
</ul>

<br>
{% endblock %}