{% extends 'base.html' %}
{% load static %}

{% block titulo %}Acerca de:{% endblock %}

{% block contenido %}
<link href="{% static 'css/img-1x1.css' %}" rel="stylesheet">

<h2>Información del desarrollo</h2>
<p>Diseñadores FrontEnd:</p>
<ul>
    <li>
        Lucila Morano <img class="a" src="">
    </li>
    <li>
        Delfina Zapata <img class="a" src="">
    </li>
    <li>
        Delfina Morano <img class="a" src="">
    </li>
    <li>
        Fabrizio Arnoletto <img class="a" src="">
    </li>
    <li>
        Tiago Gaitan <img class="a" src="">
    </li>
    <li>
        Sofía Lopez <img class="a" src="">
    </li>
    <li>
        Camila Irusta <img class="a" src="">
    </li>
    <li>
        Catia Sejas <img class="a" src="">
    </li>
    <li>
        Sasha Aliendro <img class="a" src="">
    </li>
    <li>
        Mora Raab <img class="a" src="">
    </li>
</ul>

<p>Diseñadores BackEnd:</p>
<ul>
    <li>
        Tomás Centurión
    </li>
    <li>
        Agustín Bustos <img class="a" src="">
    </li>
    <li>
        Fabrizio Arnoletto <img class="a" src="">
    </li>
    <li>
        Tomás Prax <img class="a" src="">
    </li>
    <li>
        Benjamín Nievas <img class="a" src="">
    </li>
    <li>
        Florencia Ripanti <img class="a" src="">
    </li>

</ul>

<br>
{% endblock %}