{% extends 'base.html' %}
{% load static %}

{% block titulo %} Académico: {% endblock %}

{% block contenido %}

<div class="container">
    <div class="section">
        <br>
        <h2 class="text-center">Orientación</h2>
        <p style="text-align: justify;">Las escuelas ProA son un modelo de carácter experimental y de innovación educativa, ubicadas en la provincia de Córdoba, Argentina. Fueron creadas en 2014, con el objetivo de formar jóvenes especializados en Desarrollo de Software (concebir y elaborar sistemas informáticos) y Biotecnología, saberes claves para el desarrollo productivo de la región. Otorga el título de Bachiller en Informática con Formación Especializada en Desarrollo de Software.</p>
    </div>

    <div class="section">
        <br>
        <h2>Explicación Diseño</h2>
        <a href="https://drive.google.com/file/d/1_-iHTfzDUqAgZRErdeajqPrhLt0PFDhj/view?usp=drive_link" target="_blank">Resolucion 2014
            <img src="{% static '/img/pdf.webp' %}" alt="" width="13">
        </a>
    
        <br>
        <a href="https://drive.google.com/file/d/1k2kkFoyOO4TLuaQET73w7YePm_RIeck5/view?usp=drive_link" target="_blank">Resolucion 2016
            <img src="{% static '/img/pdf.webp' %}" alt="" width="13">
        </a>
        <br>
        <a href="https://drive.google.com/file/d/1wIp1YxqFDWGnQD9hspSFtI4qQQVQu_ZO/view?usp=drive_link" target="_blank">Resolucion 2022
            <img src="{% static '/img/pdf.webp' %}" alt="" width="13">
        </a>
        <br>
    </div>

    <div class="section">
        <br>
        <h2 class="text-center">Espacios Curriculares</h2>
        
        <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                    <button
                        class="accordion-button collapsed"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseOne"
                        aria-expanded="true"
                        aria-controls="flush-collapseOne"
                    >
                    <h3>Primer año:</h3>
                    </button>
                </h2>
                <div
                    id="flush-collapseOne"
                    class="accordion-collapse collapse"
                    aria-labelledby="flush-headingOne"
                    data-bs-parent="#accordionFlushExample"
                >
                    <div class="accordion-body">
                        <table>
                            <thead>
                                <tr>
                                    <th>Espacio</th>
                                    <th>Horas</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Ciclo Basico</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Formación especializada Entornos Digitales</td>
                                    <td>2</td>
                                </tr>
                                <tr>
                                    <td>Sistemas operativos y software de aplicación</td>
                                    <td>2</td>
                                </tr>
                                <tr>
                                    <td>Taller de Inglés aplicado</td>
                                    <td>2</td>
                                </tr>
                                <tr>
                                    <td>Formación General Lengua y literatura</td>
                                    <td>5</td>
                                </tr>
                                <tr>
                                    <td>Matemática</td>
                                    <td>5</td>
                                </tr>
                                <tr>
                                    <td>Cs. naturales – biología</td>
                                    <td>3</td>
                                </tr>
                                <tr>
                                    <td>Cs. naturales – física</td>
                                    <td>3</td>
                                </tr>
                                <tr>
                                    <td>Cs. sociales – geografía</td>
                                    <td>5</td>
                                </tr>
                                <tr>
                                    <td>Inglés</td>
                                    <td>3</td>
                                </tr>
                                <tr>
                                    <td>Educación artística</td>
                                    <td>3</td>
                                </tr>
                                <tr>
                                    <td>Educación tecnológica</td>
                                    <td>3</td>
                                </tr>
                                <tr>
                                    <td>Ciudadanía y participación</td>
                                    <td>3</td>
                                </tr>
                                <tr>
                                    <td>Educación física</td>
                                    <td>3</td>
                                </tr>
                                <tr>
                                    <td>Clubes Club de ciencias</td>
                                    <td>2</td>
                                </tr>
                                <tr>
                                    <td>Club de deportes</td>
                                    <td>2</td>
                                </tr>
                            </tbody>
                
                            
                        </table>
                    </div>
                </div>
            </div>
            
        </div>
        
       
        <br>

        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingTwo">
                <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseTwo"
                    aria-expanded="false"
                    aria-controls="flush-collapseTwo"
                >
                    <h3>Segundo año:</h3>
                </button>
            </h2>
            <div
                id="flush-collapseTwo"
                class="accordion-collapse collapse"
                aria-labelledby="flush-headingTwo"
                data-bs-parent="#accordionFlushExample"
            >
                <div class="accordion-body">
                    <table>
                        <thead>
                            <tr>
                                <th>Espacio</th>
                                <th>Horas</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr><td>Ciclo básico</td><td></td></tr>
                            <tr><td>Historia</td><td>6</td></tr>
                            <tr><td>Algoritmo y Programación</td><td>2</td></tr>
                            <tr><td>Clubes Club de ciencias</td><td>2</td></tr>
                            <tr><td>Formación General Lengua y literatura</td><td>6</td></tr>
                            <tr><td>Ciudadanía y participación</td><td>3</td></tr>
                            <tr><td>Matemática</td><td>6</td></tr>
                            <tr><td>Taller de Inglés aplicado</td><td>2</td></tr>
                            <tr><td>Cs. naturales – química</td><td>3</td></tr>
                            <tr><td>Cs. naturales – biología</td><td>4</td></tr>
                            <tr><td>Inglés</td><td>3</td></tr>
                            <tr><td>Club de deportes</td><td>2</td></tr>
                            <tr><td>Educación tecnológica</td><td>4</td></tr>
                            <tr><td>Educación física</td><td>3</td></tr>
                            <tr><td>Educación artística</td><td>3</td></tr>
                            <tr><td>Club de arte</td><td>2</td></tr>
                            <tr><td>Estructura y almacenamiento de datos</td><td>2</td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div><br>
    
        <!-- Tercer año -->
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingThree">
                <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseThree"
                    aria-expanded="false"
                    aria-controls="flush-collapseThree"
                >
                    <h3>Tercer año:</h3>
                </button>
            </h2>
            <div
                id="flush-collapseThree"
                class="accordion-collapse collapse"
                aria-labelledby="flush-headingThree"
                data-bs-parent="#accordionFlushExample"
            >
                <div class="accordion-body">
                    <table>
                        <thead>
                            <tr>
                                <th>Espacio</th>
                                <th>Horas</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr><td>Ciclo Básico</td><td></td></tr>
                            <tr><td>Cs. naturales – física</td><td>4</td></tr>
                            <tr><td>Matemática</td><td>6</td></tr>
                            <tr><td>Cs. sociales – geografía</td><td>5</td></tr>
                            <tr><td>Estructura y almacenamiento de datos</td><td>2</td></tr>
                            <tr><td>Formación para la vida y el trabajo</td><td>4</td></tr>
                            <tr><td>Cs. naturales – química</td><td>4</td></tr>
                            <tr><td>Programación I</td><td>2</td></tr>
                            <tr><td>Club de ciencias</td><td>2</td></tr>
                            <tr><td>Club de deportes</td><td>2</td></tr>
                            <tr><td>Educación física</td><td>2</td></tr>
                            <tr><td>Club de arte</td><td>2</td></tr>
                            <tr><td>Educación tecnológica</td><td>4</td></tr>
                            <tr><td>Formación General Lengua y literatura</td><td>6</td></tr>
                            <tr><td>Taller de Inglés aplicado</td><td>2</td></tr>
                            <tr><td>Inglés</td><td>4</td></tr>
                            <tr><td>Educación artística</td><td>3</td></tr>
                            <tr><td>Historia</td><td>5</td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div><br>
    
        <!-- Cuarto año -->
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingFour">
                <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseFour"
                    aria-expanded="false"
                    aria-controls="flush-collapseFour"
                >
                    <h3>Cuarto año:</h3>
                </button>
            </h2>
            <div
                id="flush-collapseFour"
                class="accordion-collapse collapse"
                aria-labelledby="flush-headingFour"
                data-bs-parent="#accordionFlushExample"
            >
                <div class="accordion-body">
                    <table>
                        <thead>
                            <tr>
                                <th>Espacio</th>
                                <th>Horas</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr><td>Ciclo Orientado</td><td></td></tr>
                            <tr><td>Diseño de interfaces y usabilidad</td><td>2</td></tr>
                            <tr><td>Programación II</td><td>3</td></tr>
                            <tr><td>Estructura y almacenamiento de datos III</td><td>2</td></tr>
                            <tr><td>Taller de inglés aplicado</td><td>2</td></tr>
                            <tr><td>Matemática</td><td>3</td></tr>
                            <tr><td>Lengua y literatura</td><td>5</td></tr>
                            <tr><td>Biología</td><td>5</td></tr>
                            <tr><td>Geografía</td><td>4</td></tr>
                            <tr><td>Historia</td><td>4</td></tr>
                            <tr><td>Inglés</td><td>4</td></tr>
                            <tr><td>Educación artística - música</td><td>2</td></tr>
                            <tr><td>Educación física</td><td>3</td></tr>
                            <tr><td>Formación para la vida y el trabajo (FVT)</td><td>3</td></tr>
                            <tr><td>Club de ciencias - robótica</td><td>2</td></tr>
                            <tr><td>Club de deportes</td><td>2</td></tr>
                            <tr><td>Club de arte - canto y coro</td><td>2</td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div><br>
    
        <!-- Quinto año -->
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingFive">
                <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseFive"
                    aria-expanded="false"
                    aria-controls="flush-collapseFive"
                >
                    <h3>Quinto año:</h3>
                </button>
            </h2>
            <div
                id="flush-collapseFive"
                class="accordion-collapse collapse"
                aria-labelledby="flush-headingFive"
                data-bs-parent="#accordionFlushExample"
            >
                <div class="accordion-body">
                    <table>
                        <thead>
                            <tr>
                                <th>Espacio</th>
                                <th>Horas</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr><td>Ciclo Orientado</td><td></td></tr>
                            <tr><td>Matemática</td><td>4</td></tr>
                            <tr><td>Geografía</td><td>3</td></tr>
                            <tr><td>Formación para la vida y el trabajo</td><td>3</td></tr>
                            <tr><td>Club de deportes</td><td>2</td></tr>
                            <tr><td>Psicología</td><td>3</td></tr>
                            <tr><td>Programación III</td><td>4</td></tr>
                            <tr><td>Ética y legislación</td><td>3</td></tr>
                            <tr><td>Inglés</td><td>3</td></tr>
                            <tr><td>Historia</td><td>3</td></tr>
                            <tr><td>Cs. naturales – física</td><td>4</td></tr>
                            <tr><td>Formación General Lengua y literatura</td><td>4</td></tr>
                            <tr><td>Educación artística</td><td>3</td></tr>
                            <tr><td>Educación física</td><td>3</td></tr>
                            <tr><td>Club de arte</td><td>2</td></tr>
                            <tr><td>Taller de Inglés aplicado</td><td>2</td></tr>
                            <tr><td>Robótica</td><td>3</td></tr>
                            <tr><td>Club de ciencias</td><td>2</td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div><br>
    
        <!-- Sexto año -->
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingSix">
                <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseSix"
                    aria-expanded="false"
                    aria-controls="flush-collapseSix"
                >
                    <h3>Sexto año:</h3>
                </button>
            </h2>
            <div
                id="flush-collapseSix"
                class="accordion-collapse collapse"
                aria-labelledby="flush-headingSix"
                data-bs-parent="#accordionFlushExample"
            >
                <div class="accordion-body">
                    <table>
                        <thead>
                            <tr>
                                <th>Espacio</th>
                                <th>Horas</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr><td>Ciclo Orientado</td><td></td></tr>
                            <tr><td>Desarrollo de aplicaciones móviles</td><td>4</td></tr>
                            <tr><td>Programación IV</td><td>6</td></tr>
                            <tr><td>Testing</td><td>4</td></tr>
                            <tr><td>Taller de inglés aplicado</td><td>2</td></tr>
                            <tr><td>Matemática</td><td>4</td></tr>
                            <tr><td>Lengua y literatura</td><td>4</td></tr>
                            <tr><td>Química</td><td>4</td></tr>
                            <tr><td>Inglés</td><td>3</td></tr>
                            <tr><td>Educación artística</td><td>3</td></tr>
                            <tr><td>Ciudadanía y política</td><td>3</td></tr>
                            <tr><td>Filosofía</td><td>3</td></tr>
                            <tr><td>Educación física</td><td>3</td></tr>
                            <tr><td>Formación para la vida y el trabajo</td><td>3</td></tr>
                            <tr><td>Club de ciencias</td><td>2</td></tr>
                            <tr><td>Club de deportes</td><td>2</td></tr>
                            <tr><td>Club de Arte</td><td>2</td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div><br>

    <div class="section" >
        <h2>Otros Datos</h2>
    </div>

    <div class="container ">
        <div class="card mb-4" style="margin-left: 5px;">
            <div class="row g-0">
            <div class="col-md-4">
                <img src="{% static '/img/futbol.jpeg' %}" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                <p class="card-text" style="text-align: justify;">En jornadas de 8 horas, los estudiantes participan en clubes de ciencias, arte, deportes, talleres de inglés aplicado y clases específicas vinculadas a la especialidad.</p>
                </div>
            </div>
            </div>
        </div>
        <div class="card mb-4" style="margin-left: 5px;">
            <div class="row g-0">
            <div class="col-md-8">
                <br>
                <p class="card-text" style="padding-left: 15px; text-align: justify;"> La propuesta educativa incluye tutorías personalizadas y acompañamiento para los diferentes ritmos de aprendizaje.</p>
            </div>
            <div class="col-md-4">
                <div class="card-body">
                    <img src="{% static '/img/tutoria.jpg' %}" class="img-fluid rounded-start" alt="...">
                </div>
            </div>
            </div>
        </div>
        <div class="card mb-4" style="margin-left: 5px;">
            <div class="row g-0">
            <div class="col-md-4">
                <br>
                <img src="{% static '/img/img3.png' %}" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <p class="card-text" style="text-align: justify;">Además, se realizan todos los años Jornadas de Profundización sobre temáticas de relevancia social, donde chicas y chicos construyen un pensamiento crítico, creativo, colaborativo y responsable con su entorno.</p>
                </div>
            </div>
            </div>
        </div>
    </div>

        <body>
            <div class="section">
                <br>
                <h2>Encuesta</h2>
                <p class="col d-flex justify-content-center">Lo siguiente, son los resultados en graficos de una encuesta interna; realizada con fines de conocer lo que los estudiantes de primer hasta sexto año piensan...</p>
                <section class="page-section portfolio" id="portfolio">
                        <div class="container">
                            <!-- Icon Divider-->
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <!-- Portfolio Grid Items-->
                            <div class="row justify-content-center">
                                <!-- Portfolio Item 1-->
                                <div class="col-md-6 col-lg-4 mb-5">
                                    <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal1">
                                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                            <div class="portfolio-item-caption-content text-center text-white">
                                                <svg class="svg-inline--fa fa-plus fa-3x" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="plus" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M240 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H32c-17.7 0-32 14.3-32 32s14.3 32 32 32H176V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H384c17.7 0 32-14.3 32-32s-14.3-32-32-32H240V80z"></path></svg>
                                                <!-- <i class="fas fa-plus fa-3x"></i> Font Awesome fontawesome.com -->
                                            </div>
                                        </div>
                                        <img class="img-fluid" src="{% static '/img/ft1.png' %}" alt="...">
                                    </div>
                                </div>
                                <!-- Portfolio Item 2-->
                                <div class="col-md-6 col-lg-4 mb-5">
                                    <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal2">
                                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                            <div class="portfolio-item-caption-content text-center text-white"><svg class="svg-inline--fa fa-plus fa-3x" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="plus" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M240 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H32c-17.7 0-32 14.3-32 32s14.3 32 32 32H176V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H384c17.7 0 32-14.3 32-32s-14.3-32-32-32H240V80z"></path></svg><!-- <i class="fas fa-plus fa-3x"></i> Font Awesome fontawesome.com --></div>
                                        </div>
                                        <img class="img-fluid" src="{% static '/img/ft2.png' %}" alt="...">
                                    </div>
                                </div>
                                <!-- Portfolio Item 3-->
                                <div class="col-md-6 col-lg-4 mb-5">
                                    <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal3">
                                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                            <div class="portfolio-item-caption-content text-center text-white"><svg class="svg-inline--fa fa-plus fa-3x" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="plus" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M240 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H32c-17.7 0-32 14.3-32 32s14.3 32 32 32H176V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H384c17.7 0 32-14.3 32-32s-14.3-32-32-32H240V80z"></path></svg><!-- <i class="fas fa-plus fa-3x"></i> Font Awesome fontawesome.com --></div>
                                        </div>
                                        <img class="img-fluid" src="{% static '/img/ft3.png' %}" alt="...">
                                    </div>
                                </div>
                                <!-- Portfolio Item 4-->
                                <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
                                    <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal4">
                                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                            <div class="portfolio-item-caption-content text-center text-white"><svg class="svg-inline--fa fa-plus fa-3x" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="plus" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M240 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H32c-17.7 0-32 14.3-32 32s14.3 32 32 32H176V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H384c17.7 0 32-14.3 32-32s-14.3-32-32-32H240V80z"></path></svg><!-- <i class="fas fa-plus fa-3x"></i> Font Awesome fontawesome.com --></div>
                                        </div>
                                        <img class="img-fluid" src="{% static '/img/ft4.png' %}" alt="...">
                                    </div>
                                </div>
                                <!-- Portfolio Item 5-->
                                <div class="col-md-6 col-lg-4 mb-5 mb-md-0">
                                    <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal5">
                                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                            <div class="portfolio-item-caption-content text-center text-white"><svg class="svg-inline--fa fa-plus fa-3x" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="plus" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M240 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H32c-17.7 0-32 14.3-32 32s14.3 32 32 32H176V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H384c17.7 0 32-14.3 32-32s-14.3-32-32-32H240V80z"></path></svg><!-- <i class="fas fa-plus fa-3x"></i> Font Awesome fontawesome.com --></div>
                                        </div>
                                        <img class="img-fluid" src="{% static '/img/ft5.png' %}" alt="...">
                                    </div>
                                </div>
                                <!-- Portfolio Item 6-->
                                <div class="col-md-6 col-lg-4  mb-5 mb-md-0">
                                    <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal6">
                                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                            <div class="portfolio-item-caption-content text-center text-white"><svg class="svg-inline--fa fa-plus fa-3x" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="plus" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M240 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H32c-17.7 0-32 14.3-32 32s14.3 32 32 32H176V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H384c17.7 0 32-14.3 32-32s-14.3-32-32-32H240V80z"></path></svg><!-- <i class="fas fa-plus fa-3x"></i> Font Awesome fontawesome.com --></div>
                                        </div>
                                        <img class="img-fluid" src="{% static '/img/ft6.png' %}" alt="...">
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4  mb-5 mb-md-0">
                                    <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal6">
                                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                            <div class="portfolio-item-caption-content text-center text-white"><svg class="svg-inline--fa fa-plus fa-3x" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="plus" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M240 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H32c-17.7 0-32 14.3-32 32s14.3 32 32 32H176V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H384c17.7 0 32-14.3 32-32s-14.3-32-32-32H240V80z"></path></svg><!-- <i class="fas fa-plus fa-3x"></i> Font Awesome fontawesome.com --></div>
                                        </div>
                                        <img class="img-fluid" src="{% static '/img/ft7.png' %}" alt="...">
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4  mb-5 mb-md-0">
                                    <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal6">
                                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                            <div class="portfolio-item-caption-content text-center text-white"><svg class="svg-inline--fa fa-plus fa-3x" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="plus" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M240 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H32c-17.7 0-32 14.3-32 32s14.3 32 32 32H176V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H384c17.7 0 32-14.3 32-32s-14.3-32-32-32H240V80z"></path></svg><!-- <i class="fas fa-plus fa-3x"></i> Font Awesome fontawesome.com --></div>
                                        </div>
                                        <img class="img-fluid" src="{% static '/img/ft8.png' %}" alt="...">
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4  mb-5 mb-md-0">
                                    <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal6">
                                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                            <div class="portfolio-item-caption-content text-center text-white"><svg class="svg-inline--fa fa-plus fa-3x" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="plus" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M240 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H32c-17.7 0-32 14.3-32 32s14.3 32 32 32H176V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H384c17.7 0 32-14.3 32-32s-14.3-32-32-32H240V80z"></path></svg><!-- <i class="fas fa-plus fa-3x"></i> Font Awesome fontawesome.com --></div>
                                        </div>
                                        <img class="img-fluid" src="{% static '/img/ft9.png' %}" alt="...">
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4  mb-5 mb-md-0">
                                    <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal6">
                                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                            <div class="portfolio-item-caption-content text-center text-white"><svg class="svg-inline--fa fa-plus fa-3x" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="plus" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M240 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H32c-17.7 0-32 14.3-32 32s14.3 32 32 32H176V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H384c17.7 0 32-14.3 32-32s-14.3-32-32-32H240V80z"></path></svg><!-- <i class="fas fa-plus fa-3x"></i> Font Awesome fontawesome.com --></div>
                                        </div>
                                        <img class="img-fluid" src="{% static '/img/ft10.png' %}" alt="...">
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4  mb-5 mb-md-0">
                                    <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal6">
                                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                            <div class="portfolio-item-caption-content text-center text-white"><svg class="svg-inline--fa fa-plus fa-3x" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="plus" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M240 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H32c-17.7 0-32 14.3-32 32s14.3 32 32 32H176V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H384c17.7 0 32-14.3 32-32s-14.3-32-32-32H240V80z"></path></svg><!-- <i class="fas fa-plus fa-3x"></i> Font Awesome fontawesome.com --></div>
                                        </div>
                                        <img class="img-fluid" src="{% static '/img/ft11.png' %}" alt="...">
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4  mb-5 mb-md-0">
                                    <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal6">
                                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                            <div class="portfolio-item-caption-content text-center text-white"><svg class="svg-inline--fa fa-plus fa-3x" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="plus" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M240 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H32c-17.7 0-32 14.3-32 32s14.3 32 32 32H176V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H384c17.7 0 32-14.3 32-32s-14.3-32-32-32H240V80z"></path></svg><!-- <i class="fas fa-plus fa-3x"></i> Font Awesome fontawesome.com --></div>
                                        </div>
                                        <img class="img-fluid" src="{% static '/img/ft12.png' %}" alt="...">
                                    </div>
                                </div>
                            </div>
                        </div>
            
                </section>
                <br>
                <h5>Presione el siguiente link para ver la encuesta:</h5>
                <a href="https://forms.gle/iCL4Fz4JdvAGTiSbA" target="_blank" >Encuesta</a>
        </body>
    </div>
</div>


{% endblock %} 