{% extends 'base.html' %}
{% load static %}

{% block titulo %} Admisiones: {% endblock %}

{% block contenido %}

<div class="container">
    <h1 class="text-center">Admisiones</h1>
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">Inscripciones</h2>
            <p class="card-text">Los estudiantes se registran anualmente de acuerdo a las indicaciones  del Ministerio de Educación. 
                <br>Generalmente son en las mismas fechas que el resto de las instituciones.
                <br> Para consultas comunicarse al mail <a href="mailto:consultas_proavdt@escuelasproa.edu.ar."> 
                    consultas_proavdt@escuelasproa.edu.ar.</a></p>
        </div>
    </div>
    <br>
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">Cambio de Colegio</h2>
            <p class="card-text">Los pases entre colegios se habilitan cuando alguno de los cursos cuenta con vacantes disponibles.
                <br> Para tener más información sobre las vacantes disponibles y el cambio de escuela, comunicarse con el colegio mediante el mail 
                <a href="mailto:consultas_proavdt@escuelasproa.edu.ar."> consultas_proavdt@escuelasproa.edu.ar.</a></p>
        </div>
    </div>
</div>
{% endblock %}
