{% extends 'base.html' %}
{% load static %}

{% block titulo %} Familia PRoA {% endblock %}

{% block contenido %}

<div class="container">
    <h1 class="text-center">Familia PRoA</h1>
    <div class="row ">
        <p style="text-align: justify;"> Las escuelas ProA son instituciones educativas que se destacan por su enfoque en la innovación, ofreciendo una formación especializada a los jóvenes en áreas como el Desarrollo de Software y la Biotecnología. Estos conocimientos son fundamentales para fomentar el crecimiento económico y productivo de nuestra región. Al equipar a los estudiantes con habilidades relevantes y actualizadas, las ProA no solo apoyan su desarrollo personal, sino que también contribuyen al avance económico y social de la comunidad. Así, se convierten en agentes de cambio que promueven un futuro más próspero y sostenible para todos.</p> <br>
        <iframe src="https://www.google.com/maps/d/embed?mid=1CGgYB8-RYisbX7hrim0TtzibiDTKC5gq&ehbc=2E312F" width="900" height="480"></iframe>
    </div>
</div>
{% endblock %}