{% extends 'base.html' %}
{% load static %}

{% block titulo %}Inscripciones{% endblock %}

{% block contenido %}

<h2>Página de Inscripciones</h2>
<p>Bienvenidos a la página inscripciones de mi sitio web Proa.</p>
<p>Los estudiantes se registran anualmente de acuerdo a las indicaciones  del ministerio. Generalmente son en las mismas fechas que el resto de las instituciones. Para consultas comunicarse al mail <a href="mailto:consultas_proavdt@escuelasproa.edu.ar."> consultas_proavdt@escuelasproa.edu.ar.</a></p>

{% endblock %}