{% extends 'base.html' %}
{% load static %}

{% block titulo %}Inscripciones{% endblock %}

{% block contenido %}

<div class="containter">
    <h2>Inscripciones</h2>
    <p> Los estudiantes se registran anualmente de acuerdo a las indicaciones  del ministerio. 
    <br>Generalmente son en las mismas fechas que el resto de las instituciones.
    <br> Para consultas comunicarse al mail <a href="mailto:consultas_proavdt@escuelasproa.edu.ar."> 
        consultas_proavdt@escuelasproa.edu.ar.</a></p>
</div>

{% endblock %}