{% extends 'base.html' %}
{% load static %}

{% block titulo %}Objetivos y Valores{% endblock %}

{% block contenido %}
    <div class="container">
        <h1 class="text-center" >Nuestros objetivos y valores</h1>
        <p style="text-align: justify;"> Los ideales y principios formativos que propone la escuela se vinculan con la apropiación significativa de los contenidos y aprendizajes pero también con el fortalecimiento de los valores que posibiliten una convivencia  pacífica entre todos los miembros que conforman la comunidad educativa.
        </p>
        <br>
        <h2>Objetivos</h2>
        <ol>
            <li>Examinar las trayectorias escolares de los estudiantes con bajo rendimiento académico y en riesgo.            </li>
            <li>Conversar con estudiantes y docentes de los ciclos Básico y de Especialización para entender la dinámica en las aulas y las oportunidades que pueden surgir fuera de ellas.</li>
            <li>Realizar observaciones en diferentes clases para centrarnos en la dimensión pedagógica y brindar apoyo a los docentes.            </li>
            <li>Identificar problemas o contextos que puedan afectar el aprendizaje de los estudiantes.
            </li>
            <li>Organizar reuniones específicas por área para planificar proyectos interdisciplinarios y establecer criterios de evaluación.
            </li>
            <li>Verificar si se implementan actividades creativas utilizando herramientas digitales.</li>
            <li>Fomentar la colaboración con otras instituciones de la comunidad para facilitar la participación y el desarrollo de actividades relacionadas con la orientación de esta escuela.
            </li>
        </ol>
        <br>
        <h2>Valores</h2>
        <p>En nuestra institución educativa, promovemos los siguientes valores:</p>

            <li>Respeto: Hacia nosotros mismos, hacia los demás, el medio ambiente y todas las formas de vida, así como hacia las leyes y la memoria de nuestros próceres.  
            </li>
            <li>Democracia: Valoramos la participación ciudadana como base de una organización social justa y equitativa. </li>
            <li>Pluralidad: Fomentamos la libertad de expresión y el respeto por diversas opiniones y creencias, permitiendo el desarrollo personal e ideológico de cada individuo. </li>
            <li>Solidaridad: Promovemos la colaboración entre todos para enfrentar juntos problemas y necesidades, buscando objetivos comunes con lealtad y generosidad.  
            </li>
            <li>Responsabilidad: Fomentamos la conciencia de las consecuencias de nuestras acciones y el compromiso con nuestros deberes.
            </li>
            <li>Honestidad: Valoramos la transparencia y la sinceridad en nuestras relaciones, lo que genera confianza y fortalece nuestra comunidad.</li>

    </div>
       

    {% endblock %}
