{% extends 'base.html' %}
{% load static %}

{% block titulo %}PRoA Villa del Totoral{% endblock %}

{% block contenido %}
    <div class="container">
        <h1 class="text-center" >Colegio PRoA</h1>
        <p style="text-align: justify;"> ProA presenta un enfoque de trabajo que permite nuevas formas de participación en la escuela y de adquirir conocimientos. Fomenta la innovación creativa y una actitud abierta al aprendizaje, facilitando la conexión con la cultura escolar y juvenil a través de la incorporación de lenguajes multimedia en las actividades educativas. A lo largo de su formación, los estudiantes podrán desarrollar tres tipos de alfabetizaciones interconectadas: la alfabetización básica, la científico-tecnológica y la digital.
        </p>
        
        <div class="row ">
            <div class="col-2"></div>
            <div class="col-8"> <img src="{% static 'img/proa.jpg' %}" class="img-fluid rounded" alt="Noticia 3"></div>
            <div class="col-2"></div>
           
        </div>
        <br>
        <section class="text-white text-center container-fluid d-flex justify-content-center align-items-center" style="background-color:#007BFF; border-radius: 7px;">
            <div >
                <h2 style="color: rgb(255, 255, 255);">Misión</h2>
                <p class="container " >La Escuela Experimental ProA tiene como objetivo formar jóvenes especializados en Desarrollo de Software, proporcionándoles los conocimientos fundamentales y las herramientas necesarias para contribuir al crecimiento productivo de nuestra región. Su enfoque se centra en potenciar las habilidades, capacidades y competencias de cada estudiante.
                </p>
            </div>
        </section>
    </div>
       

{% endblock %}

