{% extends 'base.html' %}
{% load static %}

{% block titulo %}Programa{% endblock %}

{% block contenido %}
    <div class="container">
        <h1 class="text-center" >Programa Institucional</h1>
        <p style="text-align: justify;"> La oferta educativa que propone la Escuela Experimental ProA apunta a una educación integral, con una mirada que responde a los nuevos desafíos y requerimientos de la sociedad actual, desarrollando en los estudiantes capacidades para desenvolverse como profesionales competentes y por sobre todo, ciudadanos responsables en los diferentes entornos que habitan.
        </p>
        <br>
        <p style="text-align: justify;">La escuela como institución interactúa con las organizaciones sociales, políticas y económicas que la rodean. Es el fundamento para la organización de una escuela descentralizada y se traduce en un estilo de conducción abierto, democrático y flexible basado en la negociación y concertación de todos sus integrantes.
            Una escuela eficaz debe estar integrada al contexto social pero actuar en un marco de autonomía. Esto hace necesario la existencia de una normativa que regule las formas operativas de funcionamiento.
            </p>
        <br>
        <h2>Experiencias en PRoA</h2>
            <li style="text-align: justify;">Visitas guiadas a empresas de nuestra zona con el objetivo de que los estudiantes conozcan internamente el funcionamiento, la organización de las mismas, y/o los procesos productivos que se llevan a cabo. </li>
            <li style="text-align: justify;">Contacto con empresas a instituciones presenciales o virtuales con el propósito de conseguir premios, pasantías, reconocimientos, ya sea por sus capacidades e intereses. </li>
            <li style="text-align: justify;">Se hace una muestra experimental, donde los alumnos muestran proyectos en curso o terminados, donde a través de ellos explican los aprendizajes y contenidos trabajados.</li>
            <li style="text-align: justify;">Se trabaja en jornadas con clubes deportivos, escuela nacional, escuela ipea, escuela especial. (Feria de ciencia, feria del libro, charlas, torneo atletismo, etc).
            </li>
    </div>
       

    {% endblock %}
